{% extends "base.html" %}

{% block content %}
<div class="welcome-container">
    <h2>Bienvenido al Solver de Programación Lineal</h2>
    
    <div class="project-description">
        <h3>Proyecto de Método Simplex</h3>
        <p>Esta aplicación permite resolver problemas de programación lineal utilizando el método Simplex.</p>
        <h1>Integrantes: Luis Martinez y Edgar Montes</h1>
        <div class="features">
            <h4>Características:</h4>
            <ul>
                <li>Resolución de problemas de optimización</li>
                <li>Visualización paso a paso de iteraciones</li>
                <li>Cálculo de variables de decisión</li>
                <li>Determinación del valor óptimo de la función objetivo</li>
            </ul>
        </div>
        
        <div class="get-started">
            <a href="{{ url_for('main.input_problem') }}" class="btn-start">Comenzar</a>
        </div>
    </div>
</div>
{% endblock %}